<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  <div class="md:grid grid-cols-8 gap-4">
    <div class="flex flex-wrap gap-2 md:gap-6 mb-4 md:mb-0">
      <a href="{{ product.url | within: collections.all }}" class="block w-full ">
        <img
          sizes="
            (min-width: 768px) 275px,
            400px
          "
          srcset="
            {{ product | img_url: '275x' }} 275w,
            {{ product | img_url: '400x' }} 400w
          "
          src="{{ product | img_url: '400x' }}"
          alt="{{ product.title | escape }}"
          loading="lazy"
          class="w-full h-full object-cover object-center"
        >
      </a>
    </div>

    <div class="col-span-4 flex flex-col px-4 justify-center">
      {% if product.title %}
        <a href="{{ product.url | within: collection }}" class="text-h4 uppercase">
          {{ product.vendor }}<br /> {{ product.title }}
        </a>
      {% endif %}

      {% if deleteUrl %}
        <a href="{{ deleteUrl }}" class="text-h5 text-red uppercase mt-2">
          {{ 'action.remove' | t }}
        </a>
      {% endif %}
    </div>
    
    <div class="flex justify-between md:justify-end items-center">
      <span class="md:hidden">{{ 'common.price' | t }}</span> {{ product.price | money }}
    </div>

    <div class="flex justify-between md:justify-end items-center">
      <span class="ml-auto flex bg-white text-black justify-center items-center  w-12 h-12 rounded-full">
        x{{ product.quantity }}
      </span>
    </div>

    <div class="flex justify-between md:justify-end items-center">
      {% if product.original_line_price != product.line_price %}
        {{ product.original_line_price | money }}
      {% endif %}

      <span class="md:hidden">{{ 'common.total' | t }}</span> {{ product.line_price | money }}

      {% for discount in product.discounts %}
        {{ discount.title }}
      {% endfor %}
    </div>
  </div>
</div>
