<!-- See NavItem.vue -->
{% for link in linklists.menu.links %}
  <nav-item class="no-js:hidden" link="{{ link.url }}" child-context="{{ link.child_current }}" menu-context="{{ link.levels }}" :nav-context="navContext">
    <template v-slot="nav"> 
      <a
        href="{{ link.url }}"
        class="flex justify-center items-center uppercase text-h2 md:text-h4 py-5 md:py-1"
        :class="{ 'italic': nav.isCurrent }"
        {% if link.url == '/account' %}
          data-barba-prevent
        {% else %}
          @click="nav.handleClick($event, '{{ link.url }}', false)"
        {% endif %}
      >
        {{ link.title }}
      </a>
    </template>

    {% if link.levels > 0 %}
      <template #child>
        <ul class="block text-center accordion-item">
          {% for child_link in link.links %}
            <li class="text-h4 md:text-h5 uppercase my-2">
              <a href="{{ child_link.url }}" @click="$store.dispatch('overlays/toggleMenu')">{{ child_link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </template>
    {% endif %}

    {% if link.url contains 'blogs' %}
      <template #child>
        <ul class="block text-center accordion-item">

        {% for article in blogs.editorial.articles limit:4 %}
          <li class="text-h4 md:text-h5 uppercase my-2">
            <a href="{{ article.url }}" @click="$store.dispatch('overlays/toggleMenu')">{{ article.title }}</a>
          </li>
        {% endfor %}
      </ul>
      </template>
    {% endif %}
  </nav-item>

  <div class="nav-vertical-wrapper js:hidden">
    <a
      href="{{ link.url }}"
      class="flex justify-center items-center uppercase text-h2 md:text-h4 py-5 md:py-1"
    >
      {{ link.title }}
    </a>
  </div>
{% endfor %}