{% assign pagination_link = 'p-4 text-h4 uppercase flex justify-center items-center h-14 text-white light:text-gray' %}
{% assign pagination_disabled = 'opacity-50 cursor-not-allowed' %}

{% if paginate.pages > 1 %}
  <nav class="flex justify-center select-none space-x-2 mt-16">
    <a
      href="{{ paginate.previous.url }}"
      class="{{ pagination_link }} {% if paginate.previous == null %}{{ pagination_disabled }}{% endif %}"
    >
      <svg class="w-6 h-6">
        <title>Back</title>
        <use xlink:href="#arrow-left"></use>
    </svg>
    </a>

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <a
          href="{{ part.url }}"
          class="{{ pagination_link }} w-14"
        >
          {{ part.title }}
        </a>
      {% else %}
        {% if part.title == paginate.current_page %}
          <div class="{{ pagination_link }} bg-white light:bg-gray rounded-full w-14 text-gray light:text-white">
            {{ part.title }}
          </div>
        {% else %}
          <div class="{{ pagination_link }} w-14">
            {{ part.title }}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a
      href="{{ paginate.next.url }}"
      class="{{ pagination_link }} {% if paginate.next == null %}{{ pagination_disabled }}{% endif %}"
    >
      <svg class="w-6 h-6 rotate-180">
        <title>Forward</title>
        <use xlink:href="#arrow-left"></use>
    </svg>
    </a>
  </nav>
{% endif %}
