{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div class="lg:grid grid-cols-product md:min-h-screen relative" vue>
  <div class="cursor-pointer" @click="$store.dispatch('overlays/toggleZoom')">
    <div class="product-media">
      {% if product.images.size > 1 %}
        {% for image in product.images %}
          {{ image  | image_url: width: 2000 | image_tag}}
        {% endfor %}
      {% else %}
        {{ featured_image | image_url: width: 2000 | image_tag, preload: true }}
        {{ featured_image | image_url: width: 2000 | image_tag }}
      {% endif %}
    </div>
  </div>

  <product-images media='{{ product.media | json }}' class="md:hidden">
    {{ featured_image | image_url: width: 1500 | image_tag, preload: true }}
  </product-images>
  
{% comment %} 
  {% else %}
  <div class="cursor-pointer" @click="$store.dispatch('overlays/toggleZoom')">
    <div class="zoomed:md:fixed zoomed:md:overflow-y-scroll zoomed:md:h-full z-0 left-0 right-0">
      {{ featured_image | image_url: width: 2000 | image_tag, preload: true }}
    </div>
  </div>
{% endif %} {% endcomment %}

  {% comment %}
     <div class="cursor-pointer" @click="$store.dispatch('overlays/toggleZoom')">
      <div class="zoomed:md:fixed zoomed:md:overflow-y-scroll zoomed:md:h-full z-0 left-0 right-0">
        {{ featured_image | image_url: width: 2000 | image_tag, preload: true }}
        {{ featured_image | image_url: width: 2000 | image_tag, preload: true }}
      </div>
    </div>
  {% endcomment %}

  <div class="p-4 py-10 lg:border-l z-30 relative  md:px-10 md:pt-20 zoomed:pointer-events-none">
    <div class="product-detail-wrapper md:sticky top-28">
      <h3 class="text-h3 uppercase text-center my-4  md:text-left">
        <span class="block">{{ product.vendor }}</span>

        {{ product.title }}
      </h3>

      <p class="text-h3 text-center my-12 uppercase  md:text-left {% if current_variant.compare_at_price %}text-red{% endif %}">
        {% if current_variant.available %}
          {{ product.price | money_without_trailing_zeros }}

          {% if current_variant.compare_at_price %}
            <del class="text-lg">
              {{ current_variant.compare_at_price | money }}
            </del>

            <span class="bg-red-500 text-white text-sm tracking-wider uppercase px-2 py-1">
              {{ 'common.sale' | t }}
            </span>
          {% endif %}
        {% else %}
          {{ 'common.sold_out' | t }}
        {% endif %}
      </p>

      <div class="product-description my-10">
        {{ product.description }}
      </div>

      <!-- See ProductButton.vue, MainCart.vue component & cart.js store module -->
      <div vue>
        <product-button :variant-id="{{ current_variant.id }}">
          <!-- Just a fallback button that does nothing -->
          <button class="button my-8 text-h3 mx-auto block md:mx-0">
            {{ 'action.add_to_cart' | t }}
          </button>
        </product-button>
      </div>

      {% comment %} {% form 'product', product %}
        {% if current_variant.title != 'Default Title' %}
          <h4 class="uppercase text-h4">{{ product.options }}</h4>

          <div class="flex">
            {% for variant in product.variants %}
              <a
                href="{{ variant.url }}"
                class="border flex justify-center items-center my-4 mr-4 w-16 h-16 rounded-full  md:w-12 md:h-12 md:text-h5 {% if variant == current_variant %}bg-white text-black light:bg-black light:text-white{% endif %} {% if variant.available == false %}opacity-50{% endif %}"
              >
                {{ variant.title }}
              </a>
            {% endfor %}
          </div>
        {% endif %}

        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" class="hidden">
        <input type="text" name="quantity" min="1" value="1" class="hidden">

        {% if current_variant.available %}
          <input type="submit" value="{{ 'action.add_to_cart' | t }}" class="button my-8 text-h3 mx-auto block md:mx-0">
        {% endif %}
      {% endform %} {% endcomment %}

      <product-recommendations initial-product="{{ product.id }}" v-slot="{ resHTML }">
        <div v-html="resHTML"></div>
      </product-recommendations>
    </div>
  </div>
</div>
