<!-- Renderless: see FooterMenu.vue -->
<footer-menu>
  <template v-slot="{ toggleFooter, isFooterOpen, isMenuOpen }">
    <div 
      :class="[{ 'is-open': isFooterOpen }, 'tyija-overlay tyija-footer block md:px-32 lg:px-48 md:flex md:justify-between']"
     
    >
      <button class="pr-8 text-white md:hidden" 
              @click="$store.dispatch('overlays/toggleFooter')">
        <svg class="w-4 h-4">
          <use xlink:href="#close_info"></use>
        </svg>
      </button>

      <footer class="grid grid-cols-2 gap-8 pt-10 text-center md:gap-2 md:grid-cols-6 md:text-left text-white md:light:text-black"
              data-barba-prevent="all">
        <div>
          <h4 class="text-md uppercase mb-2 md:text-h4">{{ linklists.info.title }}</h4>

          {% for link in linklists.info.links %}
            <a href="{{ link.url }}" class="block text-h5 uppercase">{{ link.title }}</a>
          {% endfor %}
        </div>
      
        <div>
          <h4 class="text-md uppercase mb-2 md:text-h4">{{ linklists.customers.title }}</h4>

          {% for link in linklists.customers.links %}
            <a href="{{ link.url }}" class="block text-h5 uppercase">{{ link.title }}</a>
          {% endfor %}
        </div>

        <div>
          <h4 class="text-md uppercase mb-2 md:text-h4">{{ linklists.social.title }}</h4>

          {% for link in linklists.social.links %}
            <a href="{{ link.url }}" class="block text-h5 uppercase">{{ link.title }}</a>
          {% endfor %}
        </div>

        <div>
          <h4 class="text-md uppercase mb-2 md:text-h4">{{ linklists.legal.title }}</h4>

          {% for link in linklists.legal.links %}
            <a href="{{ link.url }}" class="block text-h5 uppercase">{{ link.title }}</a>
          {% endfor %}
        </div>

        <div class="col-span-2 my-4 flex flex-col items-center md:hidden">
          <button 
            class="button button-sm my-2 light:bg-white light:mix-blend-screen light:text-black" 
            @click="$store.dispatch('overlays/toggleSearch')">
            {{ 'action.search' | t }}
          </button>

          <a href="{{ routes.account_login_url }}"
              type="submit" class="button button-sm my-2 light:bg-white light:mix-blend-screen light:text-black">
            {{ 'action.sign_in' | t }}
          </a>
      
          <svg class="w-16 h-16 my-2">
            <use xlink:href="#liked"></use>
          </svg>
        </div>
        
        <div class="lg:w-80 col-span-2">
          <h4 class="text-md uppercase mb-2 hidden md:text-h4 md:block">Sign Up</h4>

          <form class="md:flex">
            <input
              type="email"
              class="w-full text-h4 md:text-h5"
              placeholder="you@email.com"
            >
            <input type="submit" value="Submit" class="p-2 uppercase text-h4">
          </form>
        </div>

        <p class="absolute left-4 bottom-4 uppercase text-h5 md:hidden">
          &copy; {{ 'common.copyright' | t }}
        </p>
      </footer>
    </div>

    <aside :class="[ isMenuOpen ? 'text-white' : 'light:text-black']" class="absolute">
      <button
        class="fixed z-50 bottom-9 right-10"
        @click="toggleFooter"
      >
        <svg class="w-12 h-12">
            <use xlink:href="#info_button"></use>
        </svg>
      </button>
    </aside>
  </template>
</footer-menu>

<component is="style" class="no-js:hidden">
  .tyija-footer {
    background-image: url('{{ section.settings.gradient_light | image_url: width: 1500 }}');
  }
</component>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "gradient_light",
      "label": "Footer Gradient - Light"
    },
    {
      "type": "image_picker",
      "id": "gradient_dark",
      "label": "Footer Gradient - Dark"
    }
  ]
}
{% endschema %}
