<!-- Renderless: see FooterMenu.vue -->
<footer-menu>
  <template v-slot="{ toggleFooter, isFooterOpen, isMenuOpen }">
    <footer 
      :class="[{ 'is-open': isFooterOpen }, 'tyija-overlay tyija-footer md:h-[8rem] flex flex-col  md:px-36 md:flex md:justify-between  lg:px-40']"
     
    >
      <button class="pr-6 text-white h-header w-full flex items-center justify-end  md:hidden " 
              @click="$store.dispatch('overlays/toggleFooter')">
        <svg class="w-5 h-5">
          <use xlink:href="#close_info"></use>
        </svg>
      </button>

      <ul class="grid grid-cols-2 gap-4  p-4 items-center text-center  md:h-[8rem] flex-1 justify-around  md:flex md:items-start md:text-left    index:text-white "
          data-barba-prevent="all">
        <li>
          <h4 class="tyija-footer-label">{{ linklists.info.title }}</h4>

          {% for link in linklists.info.links %}
            <a href="{{ link.url }}" class="block text-h5">{{ link.title }}</a>
          {% endfor %}
        </li>
      
        <li>
          <h4 class="tyija-footer-label">{{ linklists.customers.title }}</h4>

          {% for link in linklists.customers.links %}
            <a href="{{ link.url }}" class="block text-h5">{{ link.title }}</a>
          {% endfor %}
        </li>

        <li>
          <h4 class="tyija-footer-label">{{ linklists.social.title }}</h4>

          {% for link in linklists.social.links %}
            <a href="{{ link.url }}" class="block text-h5">{{ link.title }}</a>
          {% endfor %}
        </li>

        <li>
          <h4 class="tyija-footer-label">{{ linklists.legal.title }}</h4>

          {% for link in linklists.legal.links %}
            <a href="{{ link.url }}" class="block text-h5">{{ link.title }}</a>
          {% endfor %}
        </li>

        <li class="col-span-2 flex flex-col items-center  md:hidden">
          <button 
            class="button button-sm my-2 light:bg-white light:mix-blend-screen light:text-gray" 
            @click="$store.dispatch('overlays/toggleSearch')">
            {{ 'action.search' | t }}
          </button>

          <a href="{{ routes.account_login_url }}"
              type="submit" class="button button-sm my-2 light:bg-white light:mix-blend-screen light:text-gray index:text-black">
            {{ 'action.sign_in' | t }}
          </a>
      
          <a href="/pages/wishlist/">
            <svg class="w-16 h-16 my-2">
              <use xlink:href="#liked"></use>
            </svg>
          </a>
        </li>
        
        <li class="col-span-2 md:w-[40%]">
          <h4 class="tyija-footer-label">Sign Up</h4>

          {% form 'customer' %}
            <label for="email" class="sr-only">Email</label>
            <input 
              type="email"
              class="w-full text-h4 md:text-h5"
              placeholder="you@email.com"
              name="contact[email]" />
         
            <input type="submit" value="suBmit" class="button button-sm   bg-blend-normal index:bg-white index:text-black index:hover:bg-black index:hover:text-white footer-open:bg-white footer-open:text-black">
          {% endform %}
        </li>
      </ul>

      <p class="p-4 uppercase text-h5 text-white md:hidden">
        &copy; {{ 'common.copyright' | t }}
      </p>
    </footer>

    <aside :class="[ isMenuOpen ? 'text-white hover:text-black' : 'light:text-gray index:text-black hover:index:text-white footer-open:text-white']" class="absolute">
      <button
        class="fixed z-50 bottom-9 right-10"
        @click="toggleFooter"
      >
        <svg class="w-12 h-12">
            <use xlink:href="#info_button"></use>
        </svg>
      </button>
    </aside>
  </template>
</footer-menu>

<component is="style" class="invisible">
  .tyija-footer {
    background-image: url('{{ section.settings.gradient_light | image_url: width: 1500 }}');
  }
</component>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "gradient_light",
      "label": "Footer Gradient - Light"
    },
    {
      "type": "image_picker",
      "id": "gradient_dark",
      "label": "Footer Gradient - Dark"
    }
  ]
}
{% endschema %}
