<main class="z-30 tyija-home absolute top-0 right-0 bottom-0 left-0" vue>
  <header class="flex items-center px-16 md:px-8 relative border-b border-white light:border-gray">
    <a
      href="{{ routes.root_url }}"
      class="flex mx-auto w-full justify-center left-0 right-0 md:mx-0 md:justify-start"
      data-barba-prevent
    >
      <svg class="w-16 h-6 md:w-20">
        <use xlink:href="#logo"></use>
      </svg>
    </a>
  </header>

  <nav class="flex flex-col items-evenly h-full nav-open:hidden">
    <ul class="grid h-full grid-rows-menu">
      {% for link in linklists.menu.links %}
        <li class="w-full flex items-center px-8 {% if forloop.last == false %}border-b{% endif %}">
          <a
            href="{{ link.url }}"
            class="text-h2  w-full text-center md:text-left md:text-[12vh] uppercase my-2 hover:text-white hover:border-black hover:italic {% if link.current %}italic{% endif %}"
          >
            {{ link.title }}
          </a>
        </li>
      {% endfor %}

      <li class="w-full flex items-center px-8 h-[8rem] flex-initial border-t no-js:hidden">
        <!-- Placeholder for wing -->
      </li>
    </ul>
  </nav>
</main>

<aside vue>
  <a href="/collections/all" class="tyija-wing" @click="$store.commit('overlays/TOGGLE_WING')">
    <svg class="w-14 h-16 left-10 transition-all  fixed z-50 bottom-9 flex" 
      :class="$store.state['overlays'].isWingClicked ? 'scale-x-100' : '-scale-x-100'">
      <use xlink:href="#menu_wing_button"></use>
    </svg>
  </a>

  <div class="fixed z-30 top-20 right-20 left-auto w-1/3 hidden md:block no-js:hidden">
    <decorative-element img="{{ section.settings.decorative_element | image_url | width: 600 }}">
      <img src="{{ section.settings.decorative_element | image_url | width: 600 }}" class="w-full">
    </decorative-element>
  </div>

  <!-- add bg image src to the markup for scrolling-bg vue component to use it -->
  <div id="scrolling-bg-image" class="hidden">{{ section.settings.bg_image | image_url | width: 1000 }}</div>

  <scrolling-bg>
    <!-- image fallback without scrolling -->
    <div class="absolute w-100 top-0 bottom-0 left-0 right-0 z-0 pointer-events-none">
      <img
        src="{{ section.settings.bg_image | image_url | width: 1000 }}"
        class="w-full h-full object-cover md:h-[initial] "
      >
    </div>
  </scrolling-bg>
</aside>

{%- style -%}
  body {
      background-image: url('{{ section.settings.bg_image | image_url: width: 1000 }}');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
{%- endstyle -%}

{% schema %}
{
  "name": "Homepage Media",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "decorative_element",
      "label": "Decorative Element"
    }
  ]
}
{% endschema %}
