<h3 class="page-title">
    {{ 'cart.title' | t }}
</h3>

<div class="container px-8 py-4">
    {% if cart.item_count > 0 %}
      <div class="hidden md:grid grid-cols-8 text-h5 uppercase">
        <span class="col-span-5">&nbsp;</span>
        <span class="text-right">{{ 'common.price' | t }}</span>
        <span class="text-right">{{ 'common.quantity' | t }}</span>
        <span class="text-right">{{ 'common.total' | t }}</span>
      </div>
  
      <form action="/cart?locale={{ request.locale.iso_code }}" method="post" novalidate>
        <input type="hidden" name="attributes[locale]" value="{{ request.locale.iso_code }}" />

        {% for item in cart.items %}
          {% capture deleteUrl %}{% unless routes.root_url == '/' %}{{ routes.root_url }}{% endunless %}/cart/change?line={{ forloop.index }}&amp;quantity=0{% endcapture %}
  
          {% render 'layout-product-cart',
            class: 'mb-12'
            product: item
            deleteUrl: deleteUrl
          %}
        {% endfor %}
  
        <div class="flex flex-col items-end border-t pt-8 pb-20">
          <h5 class="uppercase mr-auto">
            {{ 'cart.checkout_disclaimer' | t }}
          </h5>
          <div class="uppercase space-x-8">
            <span class="inline-block">{{ 'cart.subtotal' | t }}</span>
            <span class="inline-block">{{ cart.total_price | money_with_currency }}</span>
          </div>
  
          <div class="text-h5 uppercase">
            {% if shop.taxes_included %}
              {{ 'common.including_tax' | t }}
            {% else %}
              {{ 'common.excluding_tax' | t }}
            {% endif %}
          </div>
  
          <button
            name="checkout"
            class="button block text-center text-h3 mt-8"
          >
            {{ 'action.checkout' | t }}
          </button>
        </div>
      </form>
    {% else %}
      <p class="text-center mb-16">
        {{ 'cart.empty_cart' | t }}
      </p>
  
      <div class="text-center">
        <a href="{{ routes.root_url }}" class="button button-primary inline-flex">
          {{ 'action.continue_shopping' | t }}
        </a>
      </div>
    {% endif %}
  </div>