<h2 class="page-title">{{ 'customer.account.title' | t }}</h2>

{% if settings.account_about %}
    <div class="uppercase border-b p-4 mb-8 richtext  md:text-h3 md:p-8">{{ settings.account_about | richtext }}</div>
{% endif %}

<div class="flex justify-between items-center p-4 md:p-8">
    <h3 class="text-h3 uppercase">
      {{ 'customer.account.details' | t }}
    </h2>
  
    <a href="{{ routes.account_url }}" class="text-h5 text-right  uppercase">
      Back
    </a>
</div>
  
<div class="p-4 md:p-8 max-w-md">
    {%- for address in customer.addresses -%}
        {%- form 'customer_address', address -%}
            <div class="field my-4">
                <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}:</label>
                <input type="text"
                       class="border w-full block"
                       id="AddressFirstName_{{ form.id }}"
                       name="address[first_name]"
                       value="{{ form.first_name }}"
                       autocomplete="given-name"
                       placeholder="{{ 'customer.addresses.first_name' | t }}">
            </div>
            <div class="field my-4">
                <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}:</label>
                <input type="text"
                    class="border w-full block"
                    id="AddressLastName_{{ form.id }}"
                       name="address[last_name]"
                       value="{{ form.last_name }}"
                       autocomplete="family-name"
                       placeholder="{{ 'customer.addresses.last_name' | t }}">
            </div>
            <div class="field my-4">
                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}:</label>
                <input type="text"
                    class="border w-full block"
                    id="AddressCompany_{{ form.id }}"
                       name="address[company]"
                       value="{{ form.company }}"
                       autocomplete="organization"
                       placeholder="{{ 'customer.addresses.company' | t }}">
            </div>
            <div class="field my-4">
                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}:</label>
                <input type="text"
                    class="border w-full block"
                    id="AddressAddress1_{{ form.id }}"
                       name="address[address1]"
                       value="{{ form.address1 }}"
                       autocomplete="address-line1"
                       placeholder="{{ 'customer.addresses.address1' | t }}">
            </div>
            <div class="field">
                <input type="text"
                       class="border w-full block"
                       id="AddressAddress2_{{ form.id }}"
                       name="address[address2]"
                       value="{{ form.address2 }}"
                       autocomplete="address-line2"
                       placeholder="{{ 'customer.addresses.address2' | t }}">
            </div>
            <div class="field grid gap-4 grid-cols-2">
                <input type="text"
                       class="border w-full block"
                       id="AddressCity_{{ form.id }}"
                       name="address[city]"
                       value="{{ form.city }}"
                       autocomplete="address-level2"
                       placeholder="{{ 'customer.addresses.city' | t }}">

                <input type="text"
                        class="border w-full block"
                        id="AddressZip_{{ form.id }}"
                        name="address[zip]"
                        value="{{ form.zip }}"
                        autocapitalize="characters"
                        autocomplete="postal-code"
                        placeholder="{{ 'customer.addresses.zip' | t }}">
            </div>


            <div class="select my-4">
                <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                <select id="AddressCountry_{{ form.id }}"
                        name="address[country]"
                        class="border w-full block"
                        data-address-country-select
                        data-default="{{ form.country }}"
                        data-form-id="{{ form.id }}"
                        autocomplete="country">
                    {{ all_country_option_tags }}
                </select>
            </div>

            <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                <div class="select">
                    <select id="AddressProvince_{{ form.id }}"
                            name="address[province]"
                            data-default="{{ form.province }}"
                            autocomplete="address-level1">
                    </select>
                </div>
            </div>

            <div class="field my-4">
                <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}:</label>
                <input type="tel"
                       class="border w-full block"
                       id="AddressPhone_{{ form.id }}"
                       name="address[phone]"
                       value="{{ form.phone }}"
                       autocomplete="tel"
                       placeholder="{{ 'customer.addresses.phone' | t }}">
            </div>
            <div>
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
            <div class="my-8">
                <button class="button text-md mr-4">{{ 'customer.addresses.update' | t }}</button>
            </div>
        {%- endform -%}
    </div>
{%- endfor -%}
</div>
</div>
